<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataLayer.Properties.DBLayer" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="DataLayer.DBLayer" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DataLayer.Properties.DBLayer>
            <setting name="ConnString" serializeAs="String">
                <value>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=Q:\VSB_Vyuka\VIS_2020\Projekt_cv2\Data\Knihovna.mdf;Integrated Security=True;Connect Timeout=30</value>
            </setting>
            <setting name="ZamestXml" serializeAs="String">
                <value>Q:\VSB_Vyuka\VIS_2020\Projekt_cv2\Data\Zamestnanci.xml</value>
            </setting>
        </DataLayer.Properties.DBLayer>
        <DataLayer.DBLayer>
            <setting name="ConnString" serializeAs="String">
                <value>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=Q:\VSB_Vyuka\VIS_2020\Projekt_cv2\Data\Knihovna.mdf;Integrated Security=True;Connect Timeout=30</value>
            </setting>
        </DataLayer.DBLayer>
    </applicationSettings>
</configuration>